.bot1{
  text-align: center;
}

.sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.5%;
}

.player{
  text-align: center;
}

footer{
  padding-top: 0.5%;
  display: flex;
  justify-content: space-around;
}